.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    border-radius: 20px;
}

.linkContainer {
    flex-direction: row;
}
.linkStyle {
    color: #c75800;
    margin: 0 8px;
}
.paragraph {
    max-width: 55%;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
