@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    border-radius: 20px;
}

.socialIconStyle {
    width: 32px;
    height: 32px;
    color: white;
    margin: 0 8px;
}

.title {
    font-size: 32px;
}

.body {
    max-width: 55%;
    font-size: 16px;
}

.mainContainer {
}

.pageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 48px;
    margin-top: 3.5rem;
}

.NavBarContainer {
    top: 0;
    position: fixed;
    width: 100%;
    background: #21242b;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.NavLink-button {
    border-radius: 4px;
    background: #21242b;
    padding: 12px 22px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}

#navbar a.active {
    color: #e09309;
}
