.App-logo {
    height: 40vmin;
    pointer-events: none;
    border-radius: 20px;
}

.socialIconStyle {
    width: 32px;
    height: 32px;
    color: white;
    margin: 0 8px;
}

.title {
    font-size: 32px;
}

.body {
    max-width: 55%;
    font-size: 16px;
}

.pageContainer {
    background-color: #282c34;
    display: flex;
    min-height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 16px;
}

.NavBarContainer {
    background: #21242b;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.NavLink-button {
    border-radius: 4px;
    background: #21242b;
    padding: 12px 22px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}

#navbar a.active {
    color: #e09309;
}